.website{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgba(240,240,240,1);
    width: 100%;
    height: 100%;
}

.content{
    padding: 20px;
    margin: auto;
    max-width: 840px;
    height:100%;
    background-color: white;
    border-left: 2px solid rgba(200,200,200,1);
    border-right: 2px solid rgba(200,200,200,1);
}


/*###############################
#       MARKUP FUNCTIONS        #
###############################*/

h1{
    margin-top: 1.5em;
}

h2{
    margin-top: 1.5em;
}

h3{
    margin-top: 1.5em;
}

h4{
    margin-top: 1.5em;
}

h5{
    margin-top: 1.5em;
}

text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0.6em;
    display: block;
}


inline{
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(240,240,240,1);
    border-radius: 3px;
    font-family: Consolas;
    font-size: 1em;
    display: inline;
}

inline:hover{
    cursor: pointer;
}



fileheader{
    width:100%;
    height:40px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 3px;
    border-radius: 5px;
    background-color: rgba(230,230,230,1);
    display: block;
    margin-bottom: -5px;
}

fileheader:hover{
    cursor: pointer;
}

fileheader:hover:after {
    content: url(symCopy.png);
    display: inline-block;
    height: 32px;
    width: 32px;
    float: right;
}



file{
    overflow: auto;
    white-space: pre;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(240,240,240,1);
    border-radius: 5px;
    font-family: Consolas;
    font-size: 1em;
    display: block;
    margin-bottom: 1em;
}



cmd{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    font-family: Consolas;
    font-size: 0.9em;
    color: white;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-bottom: 0.5em;
    padding: 5px;
}



cmd-copy{
    content: url(symCopySmall.png);
    order: 0;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

cmd-copy:hover{
    cursor: pointer;
    filter: brightness(75%);
}



cmd-txt{
    padding-left: 1.5em;
    order: 1
}



.youtube{
    display: block;
    margin: auto;
    width: 100%; 
    height: 450px;
    border: none;
}



spoiler{
    width:100%;
    display: block;
    background-color: rgba(220,220,220,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    padding: 10px;
    padding-bottom: 15px;
    max-height: 37px;
    overflow-y: hidden;
}

spoiler-expand{
    width:100%;
    display: block;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(200,200,200,1);
    background-image: url(symDownSmall.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    margin-top: -3px;
    margin-bottom: 1em;
}

spoiler-expand:hover{
    cursor: pointer;
}

/*###############################
#           POP UPS             #
###############################*/

.popupCopied{
    z-index:100;
	
	position:fixed;
    top: 10%;
    left: 50%;
	
    width:240px;
    height: 50px;
    padding:20px;

    font-size: 1.1em;
    line-height: 0.7em;
    text-align: center;
    color: white;
    border-radius: 1em;
	
    margin-top: -25px; /*set to a negative number 1/2 of your height*/
    margin-left: -120px; /*set to a negative number 1/2 of your width*/
	 
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}